modules = ["python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Production Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Tailwind CSS"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Production Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[[workflows.workflow]]
name = "Flask Production Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 PRODUCTION=true python main.py"
waitForPort = 8080

[[workflows.workflow]]
name = "Tailwind CSS"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tailwindcss -i ./static/css/src/main.css -o ./static/css/main.css --watch"

[[workflows.workflow]]
name = "Production Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 PRODUCTION=true gunicorn 'app:app' --workers 4 --bind '0.0.0.0:8080' --access-logfile - --error-logfile - --reload"
waitForPort = 8080

[deployment]
run = ["sh", "-c", "PORT=8080 PRODUCTION=true gunicorn 'app:app' --workers 4 --bind '0.0.0.0:8080' --access-logfile - --error-logfile - --reload"]

[[ports]]
localPort = 80
externalPort = 3000

[[ports]]
localPort = 443
externalPort = 3003

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3002

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081
